<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Items</title>
</head>
<body>
<nav role="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/items/add">Add item</a></li>
    </ul>
</nav>
<table>
    <tr>
        <th>Item code</th>
        <th>Item type</th>
        <th>Belongs to</th>
        <th>Assign</th>
        <th>Delete</th>
    </tr>
    <tr th:each="item : ${items}    ">
        <td th:text="${item.inventoryCode}">Item code will appear here</td>
        <td th:text="${item.type}">Item type will appear here</td>
        <td th:text="${item.user}">Item type will appear here</td>
        <td>
            <form th:action="@{/items/} + ${item.id}" th:method="put">
                <select th:field="*{assignForm.username}">
                    <option th:each="username : ${usernames}"
                            th:text="${username}"
                            th:value="${username}">
                        Username will appear here
                    </option>
                </select>
                <button type="submit">Assign</button>
            </form>
        </td>
        <td>
            <form th:action="@{/items/} + ${item.id}" th:method="delete">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>